* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	position: relative;
	z-index: 300;
	display: block;
	font-size: 3em;
	text-align: center;
	margin: 5%;
	background-color: rgb(95, 158, 160);
	border: solid orange 3px;
	border-radius: 100%;
}

body {
	background-image: url(https://erdnaxeler.github.io/thePartyDestroyer/Resources/images/background_2.png);
	background-size: cover;
}

#main {
	color: white;
}


/*--------------gameplay grid section--------------*/
#gameplay {
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(10, 1fr);
	justify-content: center;
	grid-row-gap: 20px;
	height: 500px;
	width: 100%;
}

#questionHolder {
	font-weight: bold;
	font-size: 1.5em;
	grid-area: 5 / 2 / span 2 / span 8;
	text-align: center;
	background-color: rgb(95, 158, 160);
	border: solid orange 3px;
	border-radius: 100%;
}


button {
	cursor: pointer;
	background-color: orange;
	border-radius: 100%;
	border: solid rgb(95, 158, 160) 3px;
	font-size: 1.3em;
	color: white;
}

#questionDisplay {
	grid-area: 1 / 5 / span 2 / span 2;
}

#actionDisplay {
	grid-area: 3 / 5 /span 2 / span 2;
}


/*-----------mobile version-----------*/

@ media only screen and (max-width 480px) {

	#gameplay {
		height: 80%;
	}

	#questionHolder {
		
	}
}